<div class="row justify-content-center">
  <div class="col-md-12 col-sm-12 col-lg-2 mb-2">
    <button class="btn btn-info btn-block " (click)="sendToList()">Guardar</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
        <table *ngIf="showList" class="table">
          <thead>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Identificación</th>
            <th>Telefono</th>
            <th>Acción</th>
          </thead>
          <tbody *ngFor="let item of listUser">
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.lastname }}</td>
              <td>{{ item.identification }}</td>
              <td>{{ item.telephone }}</td>
              <td>
                <button
                  type="button"
                  (click)="sendToModal(item)"
                  class="btn btn-info"
                >
                  Ver
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<app-modal></app-modal>
